@import url("chrome://communicator/skin/");
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body
{
background: lightblue;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}
.container
{
  position: relative;
  width: 60%;
  height: 60%;
  max-width: 1000px;
  min-height: 1100px;
  background: #fff; 
  margin: 45px;

  display: grid; 
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px;
}
.container .left_side
{
   position: relative;
   background: #004133; 
   padding: 40px;
}
.profile
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profile.imagBx
{
 position: relative;
 width: 200px;
 height: 200px;
 border-radius: 50px; 
 overflow: hidden;
}
.profile .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.profile h2
{
color: #fff;
font-size: 1.5cm;
margin-top: 20px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
line-height: 1.4cm;
}
.profile h2 span
{
  font-size: 0.8cm;
  font-weight: 300;
}
.contact
{
  padding-top: 40px;
}
.title
{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contact ul
{
  position: relative;
}
.contact ul li
{
  position: relative;

  margin: 10px 0;
}
.contact ul li .icon
{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: burlywood;
}
.contact ul li span
{
  color: #fff;
  font-weight: 300;
}
.compet ul li 
{
  font-size: 15px;
}
.compet
{
  padding-top: 40px; 
}
.language ul li 
{
  font-size: 15px;
}
.language
{
  padding-top: 40px; 
}
.language .percent
{
  position: relative;
  width: 100%;
  height: 6px;
  display: block;
  margin-top: 5px;
}
.language .percent div
{
position:absolute;
top: 0;
left: 0;
height: 100%;
background:  #fff;
display: block;
margin-top: -6px;
}



.container.right_side
{
  position: relative;
  background: #fff;
  padding: 40px;
}
.me
{
margin-bottom: 50px;
text-justify: auto;
font-size: large;
padding: 15px;
}
.me:last-child
{
  margin-bottom: 0;
}
.title2
{
  color: #1f967c;
  padding: 5px;
  color: rgb(5, 5, 5);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-justify: inter-word;
}
.percent
{
  color: #333;
}
